img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
body{
  background-color: #212529;
  color: white;
  font-weight: bold;
}
select{
  background-color: #212529;
  color: white;
  font-weight: bold;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}